.lang > h3 {
  color: #ece6cc;
}

.donut-ring {
  stroke: #ebebeb;
}

.donut-segment {
  transform-origin: center;
}

@keyframes donutfadelong {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.chart {
  width: 100%;
  font-size: 16px;
  max-width: 25%;
  display: inline-block;
  margin-top: 50px;
  animation: donutfade 1s;
}

@keyframes donutfade {
  /* this applies to the whole svg item wrapper */
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.donut-data {
  font-size: 0.12em;
  line-height: 1;
  transform: translateY(0.5em);
  text-align: center;
  text-anchor: middle;
  color: #666;
  fill: #666;
  animation: donutfadelong 1s;
}

.donut-lang {
  font-size: 0.5em;
  line-height: 1;
  transform: translateY(0.5em);
  font-weight: bold;
  animation: donutfadelong 1s;
}

html {
  text-align: center;
}

.donut-segment-html {
  animation: dounthmtml 3s;
  stroke: #ff6200;
}

.donut-segment-css {
  stroke: skyblue;
  animation: donutcss 3s;
}

.donut-segment-js {
  stroke: #edc70a;
  animation: donutjs 3s;
}

.donut-text {
  font-family: Arial, Helvetica, sans-serif;
}
.donut-text-css {
  fill: skyblue;
}
.donut-text-js {
  fill: #edc70a;
}
.donut-text-html {
  fill: #ff6200;
}
